@media only screen and (max-width: 768px) {
  .whatsapp-image
  {
    display: none ;
  }
  .nav-menu {
    background-color: aqua;
  }
  .hero h1 {
        font-size: 2.5em  !important;
     }
  .hero h3 {
      font-size: 14px ;
    }
  .header-text-info {
    font-size: 14px;
  }
  .whatsapp-image-header img {
    width: 140px;
    height: 45px;
    margin-top: 5px;
    border-radius: 15px;

  }
  .s-media {
  display: block;
}
/* .product-section-header h3 {
  font-size: 16px;
} */
.navbar-brand img {
  width:170px;
  height: 70px;
}
.nav-list ul {
  margin: 10px;
}
.nav-list li  {
  border-bottom: 1px solid #424245;
}
.nav-list a {
  float: left;
}
.card-body {
  opacity: 1;
}
.whyus-img{
  display: none;
}
.side-bar{
  display: none;
}
#collapesbar {
  display: block;
}
#product-page {
  display: none;
}
.about-img {
display: none;
}
.cards{
  /* height: 300px ; */
  width: 400px ;
  margin: auto ;
  margin-bottom: 20px;
  padding-bottom: auto !important;
}
.card{
  /* height: 300px ; */
  width: 400px ;
  margin: auto ;
  margin-bottom: 20px;
  padding-bottom: auto !important;
}
/* .brands_slider_container {
    padding-left: 10px;
    padding-right: 10px;
} */
/* .brands_item img {

   height: 150px;
    width: 200px !important;
    margin: auto;
} */
#first {
  order:2;
}
#second {
  order:1;
}
.about-desc {
  font-size: 16px;
  /* font-weight: 100; */
  text-align: center;
  line-height: normal;


}
#slogan img {
  width: 300px;
  height: 300px;
}
}
@media only screen and (min-width: 768px) {
  /* .whatsapp-image
  {
    display: none ;
  } */
  .nav-menu {
    background-color: aqua;
  }
  .header-text {
    font-size: 80px ;
    top:30%;
  }
  .header-text-info {
    font-size: 24px;
  }
  .whatsapp-image-header img {
    width: 240px;
    height: 75px;
    border-radius: 15px;

  }

}
@media only screen and (min-width: 992px) {
.silde-image img{
  height: 600px;

}
.header-text {
  top:35%;
}


}
@media only screen and (max-width: 991px) {
  .hero {
        width: max-content;
  }
  .hero h1 {
        font-size: 4em ;
     }
  .hero h3 {
          font-size: 1em ;
        }
.header-text-info {
  top:43%;
}
.card-body {
  opacity: 1;
}
.whyus-img{
  display: none;
}
.nav-list li  {
  border-bottom: 1px solid #424245;
}
.nav-list a {
  float: left;
}
.s-media {
display: block;
}
.whatsapp-image
{
  display: none ;
}
.side-bar{
  display: none;
}
#collapesbar {
  display: block;
}
#product-page {
  display: none;
}
#loader {
left:55%;
}
#slogan h3 {
  font-size: 2rem;
}
.dropdown-menu {
  border: none;
}
.zIndex {
  z-index: 1;
}
}

/* Large Devices, Wide Screen */
@media only screen and (min-width: 1200px) {
  .silde-image {
    height: 600px;
  }
  .img-fluid {
    height: 100%;
  }
}
@media only screen and (max-width: 823px) {

  .whatsapp-image {
    display: none;
  }
  .s-media {
  display: block;
}
.card-body {
  opacity: 1;
}
.about-img {
display: none;
}

}
@media only screen and (max-width:576px) {
  .cards{
    /* height: 300px ; */
    width: 300px ;
    margin: auto ;
    margin-bottom: 20px;
    padding-bottom: auto !important;

  }
  .product-cards{
    height: 300px ;
    width: 300px ;
    margin: auto ;
    margin-bottom: 40px;
    padding-bottom: auto !important;

  }
  .card{
    /* height: 300px ; */
    width: 300px ;
    margin: auto ;
    margin-bottom: 20px;
    padding-bottom: auto !important;

  }
  .card-body {
    opacity: 1;
  }
  .product {
    /* background: url("images/product.jpg") center top no-repeat fixed !important;
    background-size: contain; */


  }
  .brands_item img {

     height: 100%;
      width: 100% !important;
      margin: auto;
  }
  #slogan h3 {
    font-size: 1.5rem;
  }
}
